header {
    background: rgb(2, 0, 36);
    background: linear-gradient(336deg, rgba(2, 0, 36, 1) 0%, rgba(9, 17, 121, 1) 35%, rgb(0, 204, 255) 100%);
    width: 100%;
    text-align: center;
    color: white;
}

.title {
    border-bottom: 3px yellow solid;
    width: max-content;
    margin-top: 60px;
    margin-left: 60px;
}

.subtitle {
    width: max-content;
    margin-left: 60px;
}

img {
    border-radius: 50%;
    border: 2px black solid;
    margin: 0;
}

a{
    text-decoration: none;
}

.h-oq{
    background-color: rgb(0, 51, 95) !important;
    color: white !important;
}

@media (max-width: 480px) {
    header img{
        width: 90px;
        height: 90px;
    }

    .title {
       font-size: 20px;
       margin-top: 10px;
    }

    .subtitle{
        font-size: 16px;
    }
    
}
